%h1.page-header Memberships
.row
  .col-md-12
    %p#notice= notice
    %h2.sub-header View
    .text-right
      = link_to @membership, method: :delete, confirm: 'Are you sure?' do
        %button.btn.btn-danger{type: "button"} Delete
      = link_to edit_membership_path(@membership) do
        %button.btn.btn-primary{type: "button"} Edit
      = link_to new_membership_path do
        %button.btn.btn-success{type: "button"} New

    .row
      .col-md-6
        = display_field @membership.code, label: 'Code'
      .col-md-6
        = display_field @membership.name, label: 'Name'
    .row
      .col-md-6
        = display_field @membership.kind, label: 'Type'
    .row
      .col-md-12
        = display_field @membership.notes, label: 'Notes'
