= simple_form_for @user, defaults: {input_html: { class: "form-control" }} do |f|
  .row
    .col-md-12
      %p#notice= notice
      .text-right
        = f.button :submit, class: 'btn-primary'
        = link_to @user do
          %button.btn.btn-default{type: "button"} Cancel

  = f.error_notification

  .form-inputs

  .form-actions
    = f.button :submit, class: 'btn-primary'
