%h1.page-header Issues
.row
  .col-md-12
    %p#notice= notice
    %h2.sub-header View
    .text-right
      = link_to 'Edit', edit_issue_path(@issue)

    .row
      .col-md-6
        = display_field @issue.asset.name, label: 'Asset'
      .col-md-6
        = display_field @issue.member.name, label: 'Member'
    .row
      .col-md-6
        = display_field @issue.issued_date, label: 'Reserved On'
    .row
      .col-md-12
        = display_field @issue.notes, label: 'Notes'


%p#notice= notice

%p
  %b Book:
  = @reservation.asset_id
%p
  %b Member:
  = @reservation.member_id
%p
  %b Reserved date:
  = @reservation.reserved_date
%p
  %b Status:
  = @reservation.status
%p
  %b Notes:
  = @reservation.notes
%p
  %b Created by:
  = @reservation.created_by
%p
  %b Updated by:
  = @reservation.updated_by

= link_to 'Edit', edit_reservation_path(@reservation)
\|
= link_to 'Back', reservations_path
