%h1.page-header Categories
.row
  .col-md-12
    %p#notice= notice
    %h2.sub-header View
    .text-right
      = link_to @category, method: :delete, confirm: 'Are you sure?' do
        %button.btn.btn-danger{type: "button"} Delete
      = link_to edit_category_path(@category) do
        %button.btn.btn-primary{type: "button"} Edit
      = link_to new_category_path do
        %button.btn.btn-success{type: "button"} New

    .row
      .col-md-6
        = display_field @category.code, label: 'Code'
      .col-md-6
        = display_field @category.name, label: 'Name'
    .row
      .col-md-6
        = display_field @category.kind, label: 'Type'
    .row
      .col-md-12
        = display_field @category.notes, label: 'Notes'
