%h1 Listing rules

%table
  %tr
    %th Category
    %th Membership
    %th Mnemonic
    %th Name
    %th Value
    %th
    %th
    %th

  - @rules.each do |rule|
    %tr
      %td= rule.category_id
      %td= rule.membership_id
      %td= rule.mnemonic
      %td= rule.name
      %td= rule.value
      %td= link_to 'Show', rule
      %td= link_to 'Edit', edit_rule_path(rule)
      %td= link_to 'Destroy', rule, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Rule', new_rule_path
