%p#notice= notice

%p
  %b Category:
  = @rule.category_id
%p
  %b Membership:
  = @rule.membership_id
%p
  %b Mnemonic:
  = @rule.mnemonic
%p
  %b Name:
  = @rule.name
%p
  %b Value:
  = @rule.value

= link_to 'Edit', edit_rule_path(@rule)
\|
= link_to 'Back', rules_path
